@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");


@font-face {
    font-family: 'Montserrat';
    font-style: light;
    font-weight: 300;
    src: local('Montserrat'),
         url('./images/fonts/Montserrat-Light.ttf') format('ttf'), 
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: regular;
    font-weight: 400;
    src: local('Montserrat'),
         url('./images/fonts/Montserrat-Regular.ttf') format('ttf'), 
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    src: local('Montserrat'),
         url('./images/fonts/Montserrat-Medium.ttf') format('ttf'), 
  }
@-webkit-keyframes subtleFade {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes subtleFade {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.overlay-body {
    background: linear-gradient(to bottom right, #ffffff, #f2f2f2, #f4f4f4, #f2f2f2, #ffffff, #ffffff);
    position: relative;
    /*important*/
    z-index: 1;
    /*important*/
    margin: 0 auto;
}

.overlay-body:after {
    background: url('./images/creampaper.png') center repeat;
    position: absolute;
    /*important*/
    bottom: 0;
    /*its super important to set all the position to 0*/
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
    /*add some opacity*/
    z-index: -1;
    /*important*/
}

.link-underline {
    width: 100%;
    text-decoration: underline;
    color: #00a8e1;
}

.link-accent {
    width: 100%;
    color: #00a8e1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-animation-name: subtleFade;
    -webkit-animation-duration: 0.30s;
    animation-name: subtleFade;
    animation-duration: 0.30s;
}

.main {
    width: 100%;
    height: 100%;
    /* background: #0097cb; */
    padding: 85px 20px;
    padding-bottom: 200px;
}

.main-nav {
    width: 100%;
    height: 100%;
}

.main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* background: #0097cb; */
    padding: 85px 20px;
}

.menu-icon {
    opacity: 0;
}

.background-mobile {
    padding: 10px;
    display: block;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.387);
    transition: .74s;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 5px 10px 24px rgba(0, 0, 0, 0.024);
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
}

.footer-background {
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom right, #25c8ff, #1cc4fc, #03b1eb);
    color: #ffffff;
    height: 100%;
    padding-bottom: 100px;
    box-shadow: 1px 1px 7.5px rgba(0, 0, 0, 0.504);
}

.footer-asset {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 35%;
    max-height: 35%;
    margin-right: 50px;
    margin-top: 60px;
    opacity: 0.5;
}

.flex-social {
    display: flex;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 18px;
}

.sidebar {
    opacity: 0;
    display: none;
}

.sidebar-active {
    opacity: 0;
    display: none;
}

.squeeze {
    max-width: 1000px;
    margin: 0 auto;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(20, 20, 20);
}

.nav-menu__item {
    color: rgb(20, 20, 20);
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: .5s;
}

.nav-menu__item:hover {
    opacity: 0.4;
    transition: 0.3s;
}

.nav-menu__item a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.logo {
    max-width: 250px;
    max-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.side-bar-image {
    max-width: 225px;
    max-height: 30px;
    cursor: pointer;
}

.side-bar-image.open {
    transform: translate( 30px, -30px);
}

.nav-menu__item-white {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    transition: .5s;
}

.nav-menu__item-white div {
    margin-left: 7.5px;
    display: inline-block;
    height: 45px;
    width: 175px;
    background: linear-gradient(#ecdc70, #e4ac62);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.072);
    padding: 14px;
    padding-left: 47px;
}

.telegram-icon {
    display: inline-block;
    height: 100%;
    width: 30px;
    transform-origin: 50% 50%;
}

.content {
    width: 100%;
    padding-top: 35px;
}

.sidebar-image {
    width: 100%;
    padding-top: 30px;
}

.padding-image {
    margin-right: 50px;
}

.content__image-second {
    width: 75%;
}

.content__title {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    -webkit-animation-name: subtleFade;
    -webkit-animation-duration: 0.75s;
    animation-name: subtleFade;
    animation-duration: 0.75s;
}

.content__quote {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16pt;
    width: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 100px;
}

.sub-title {
    color: rgb(20, 20, 20);
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.learn-more-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.content__paragraph {
    color: rgba(20, 20, 20, 0.709);
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    -webkit-animation-name: subtleFade;
    -webkit-animation-duration: 0.75s;
    animation-name: subtleFade;
    animation-duration: 0.75s;
}

.learn-more-button {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    background: linear-gradient(#40cbfa, #009fd4);
    box-shadow: 2px 3px 7.5px rgba(0, 0, 0, 0.093);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    /* color: rgba(0, 0, 0, 0.75); */
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    -webkit-animation-name: subtleFade;
    -webkit-animation-duration: 0.75s;
    animation-name: subtleFade;
    animation-duration: 0.75s;
    border-radius: 5px;
}

.learn-more-button:hover {
    transition: all 0.3s ease 0s;
    background: radial-gradient(circle at center, #4cd1ff, #00aae2);
}

.learn-more a {
    color: black;
    text-decoration: none;
}

.learn-more:hover {
    opacity: 0.75;
}

.roadmap-button {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    background: linear-gradient(#f2d938, #f2c223);
    box-shadow: 2px 3px 7.5px rgba(0, 0, 0, 0.093);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-animation-name: subtleFade;
    -webkit-animation-duration: 0.75s;
    animation-name: subtleFade;
    animation-duration: 0.75s;
}

.roadmap-button:hover {
    transition: all 0.3s ease 0s;
    background: radial-gradient(circle at center, #f2d938, #f2c223);
    cursor: pointer;
    transition: background .5s;
}

.road-map a {
    color: black;
    text-decoration: none;
}

.home-button-flex {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content__image {
    width: 100%;
    -webkit-animation-name: subtleFade;
    -webkit-animation-duration: 0.75s;
    animation-name: subtleFade;
    animation-duration: 0.75s;
}

.flex-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    height: 375px;
}

.flex {
    display: flex;
    margin: 0;
}

.flex-reverse {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.flex-team {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column__one-third {
    width: 33.33%;
}

.column__two-thirds {
    width: 66.66%;
}

.column__post {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column__full {
    width: 100%;
}

.column__title {
    width: 100%;
}

.column-half {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    width: 100%;
}

.column-second-half {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 50%;
}

.grid {
    display: flex;
    flex-direction: column;
    /* box-sizing: none; */
}

.grid p {
    padding-top: 150px;
    padding-bottom: 20px;
    color: rgb(30, 30, 30);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16pt;
}

.grid__item {
    background-color: #00b3ea;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.075);
}

.video-neureal {
    width: 100%;
    height: 100%;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.182);
}

.video-container {
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.223);
    margin-top: 100px;
}

.content-team {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 75px;
    width: 100%;
}

.team-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.team-title {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(20, 20, 20);
    font-size: 18pt;
    text-align: center;
    padding-bottom: 125px;
}

.team-background {
    display: flex;
    flex-direction: column;
}

.mobile-logo-container {
    display: none;
    opacity: 0;
}

.roadmap-img {
    padding-top: 50px;
    width: 100%;
}

.details.active {
    transform: perspective(500px) scale(0);
}

.details h2 {
    margin: 0;
    padding: 0;
    color: rgb(20, 20, 20);
    font-size: 18px;
    text-transform: uppercase;
}

.details h2 span {
    font-size: 14px;
    color: #ccc;
}

.details p {
    margin: 0;
    padding: 10px 0 0;
    font-size: 14px;
    color: #aaa;
}

.details h3 {
    background: #00bcd4;
    color: #fff;
    padding: 8px 50px;
    border-radius: 25px;
    display: -webkit-inline-box;
    margin: 15px;
}

.details ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.details ul li {
    list-style: none;
    font-size: 20px;
    width: 13%;
}

.details ul li:nth-child(1) {
    color: #3b5998;
}

.details .team-social-icon {
    width: 100%;
}

.details span {
    font-weight: 400;
}

/* ========================================================================== */

/* Blog Section */

/* ========================================================================== */

.blog-column__two-thirds {
    width: 65%;
}

.blog-column__one-thirds {
    width: 35%;
}

.blog-header-container {
    display: flex;
}

.title-blog {
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.sub-title-blog {
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.sub-title-blog-underline {
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-decoration: underline;
}

.blog-image {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-image-small {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-image-half {
    display: inline;
    width: 45%;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-caption {
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}

.bold-caption {
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: inline;
}

.caption-blog {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    float: inherit;
    width: auto
}

.creator-blog {
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
}

.image-blog-container {
    padding-top: 50px;
    /* margin: 20px; */
}

.img-main-blog {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
}

.blog-detail-container {
    width: 100%;
    padding-top: 50px;
    margin-left: 20px;
}

.author-of-blog {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-name {
    color: #00a8e1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.author-date-posted {
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.author-name-detail {
    color: #00a8e1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px; 
}


.author-date-posted-detail {
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 35px;
}

.flex-author {
    display: flex;
}

.flex-date {
    display: flex;
    flex-direction: column;
}

.blog-secondary-grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog-secondary-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.img-secondary-blog {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.blog-column-secondary {
    width: 100%;
    margin-left: 10px;
}

.title-blog-secondary {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.blog-detail-container-secondary {
    width: 100%
    /* padding-top: 10px;
    margin-top: 10px; */
}

.image-blog-container-secondary {
    padding-top: 10px;
    margin: 10px;
}

.blog-post-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paragraph-title {
    color: rgba(0, 0, 0, 0.9);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.info-box {
    position: relative;
    background: linear-gradient(to bottom right, #ffffff, #fafafa, #f6f6f6, #fbfbfb);
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    /* border-bottom: 1px solid #d0d0d0 */
}

.info-box-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-subtitle-flex {
    display: flex;
    flex-direction: row;
}

.padding-header-section {
    padding-bottom: 150px;
}

/* ========================================================================== */

/* Team */

/* ========================================================================== */

.team-box {
    position: relative;
    background-color: #fff;
    height: 350px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.flex-team {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    align-self: center;
    justify-self: center;
    grid-gap: 50px;
}

.team-box-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.name-title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team-icon-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-right: 20px;
}

.team-role {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #00a8e1;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
}

.team-image {
    height: 85px;
    width: 85px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.team-name {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    padding-left: 10px;
    padding-top: 5px;
}

.biography {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    /* background: #00a8e1; */
    padding-top: 5px;
    text-align: center;
}

.team-icon-container a {
    padding: 10px;
    width: 20px;
    font-size: 30px;
    display: inline-block;
    margin: 0 8px;
    transition: 0.4s all;
    padding-left: 10px;
}

.lk {
    color: #00a8e1;
}

/* .lk:hover {
color: #fff;
background: #00a8e1;
border-radius: 50%;
padding-left: 10px;
} */

.tw {
    color: #4cd1ff;
}

/* .tw:hover {
color: #fff;
background: #00a8e1;
border-radius: 50%;
padding-left: 10px;
} */

/* ========================================================================== */

/* Social Icons Nav */

/* ========================================================================== */

.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.social-icons-container {
    z-index: 1;
    display: flex;
    flex-direction: row;
    text-align: right;
}

.social-icons-container p {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    padding-top: 12px;
    padding-right: 12.5px;
}

.social-background-nav {
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom right, #25c8ff, #1cc4fc, #03b1eb);
    box-shadow: 2px 3px 7.5px rgba(0, 0, 0, 0.093);
}

.ion-email {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 5px;
}

.git-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.fb-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.rdt-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.twi-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.lnk-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.you-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.git-mob {
    color: #fff;
    font-size: 30px;
    padding: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.fb-mob {
    color: #fff;
    font-size: 30px;
    padding: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.rdt-mob {
    color: #fff;
    font-size: 30px;
    padding: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.twi-mob {
    color: #fff;
    font-size: 30px;
    padding: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.lnk-mob {
    color: #fff;
    font-size: 30px;
    padding: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.you-mob {
    color: #fff;
    font-size: 30px;
    padding: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.telegram-logo {
    width: 25px;
    height: 25px;
    margin-top: 7.5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.git-footer {
    color: #fff;
    font-size: 35px;
    padding: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
}

.fb-footer {
    color: #fff;
    font-size: 35px;
    padding: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
}

.rdt-footer {
    color: #fff;
    font-size: 35px;
    padding: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
}

.twi-footer {
    color: #fff;
    font-size: 35px;
    padding: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
}

.lnk-footer {
    color: #fff;
    font-size: 35px;
    padding: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
}

.you-footer {
    color: #fff;
    font-size: 35px;
    padding: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
}

.telegram-logo-footer {
    width: 35px;
    height: 35px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.info-icon {
    /* background: linear-gradient(#f2d938,  #f2c223); */
    color: #00a8e1;
    font-size: 28px;
    /* padding: 7.5px; */
    /* padding-left: 12.5px; */
    padding-right: 10px;
    padding-top: 16px;
}

/* ========================================================================== */

/* Email Form*/

/* ========================================================================== */

.email-form-flex form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.subscribe-button {
    width: 400px;
    height: 50px;
    margin: 5px;
    background: linear-gradient(#f2d938, #f2c223);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.072);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: background .5s;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-button:hover {
    background: radial-gradient(#f2d938, #f2c223);
}

.subscribe-input {
    width: 400px;
    height: 40px;
    margin: 10px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 7.5px rgba(0, 0, 0, 0.093);
}

#mc-embedded-subscribe {
    color: #fff;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background .5s;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
}

#mc-embedded-subscribe:hover {
    opacity: 0.75;
    cursor: pointer;
}

.join {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
}

.logo-footer {
    display: inline-block;
    max-width: 225px;
    max-height: 30px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 20px;
}

.logo-footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-bottom: 105px;
    width: 50%;
}

.logo-footer-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

/* ========================================================================== */

/* Team Modal */

/* ========================================================================== */

.modal-background {
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
}

.modal-image {
    width: 100%;
}

.modal-img {
    opacity: 1;
}

.biography-modal {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    /* background: #00a8e1; */
    padding-top: 5px;
    text-align: left;
    line-height: 20px;
    padding-bottom: 20px;
}

.profile-background {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
    background: #fff;
    top: 20%;
    left: 30%;
    overflow: hidden;
}

.profile-background div {
    overflow: hidden;
}

.modal-style {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    max-width: 500px;
    max-height: 600px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 600px;
    margin-top: -275px;
    /* Half the height */
    margin-left: -240px;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.11);
    -webkit-animation-name: subtleFade;
    -webkit-animation-duration: 0.55s;
    animation-name: none;
    animation-duration: 0.55s;
    overflow-y: scroll;
}

.modal-detail-padding {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px;
}

.close-modal {
    -webkit-animation-name: subtleFade;
    -webkit-animation-duration: 0.55s;
    animation-name: none;
    animation-duration: 0.55s;
}

.team-role-modal {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #00a8e1;
    padding-top: 2px;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: left;
}

.team-name-modal {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 5px;
    text-align: left;
}

/* ========================================================================== */

/* News */

/* ========================================================================== */

.news-column {
    width: 70%;
}

.news-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.news-post {
    display: flex;
    flex-direction: row;
}

.news-detail-container {
    display: flex;
    flex-direction: column;
}

.news-container-padding {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.news-header {
    width: 100%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    padding-bottom: 30px;
    color: #00a8e1;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.news-title {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;
}

.news-caption {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

.news-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.news-learn-more {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    color: #00a8e1;
}

.headphone {
    color: #00a8e1;
    font-size: 25px;
    padding: 7.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.podcast-header {
    width: 86%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    padding-bottom: 30px;
    margin-left: 40px;
    color: #00a8e1;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.podcast-author {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: rgb(66, 66, 66);
}

.podcast-detail-flex {
    display: flex;
    flex-direction: row;
}

.podcast-post {
    display: flex;
    flex-direction: column;
}

.podcast-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 40px;
    /* border-bottom: 1px solid rgb(215, 215, 215); */
}

.podcast-news-flex {
    display: flex;
    flex-direction: row;
}

.podcast-column {
    width: 30%;
}

.podcast-title {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-top: 13px;
}

.video-column {
    width: 100%;
}

.flex-video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    align-self: center;
    justify-self: center;
    grid-gap: 50px;
    height: 100%;
}

.media-container {
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.223);
}

/* ========================================================================== */

/* as seen by section */

/* ========================================================================== */

.as-seen-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 30px;
    align-self: center;
    justify-self: center;
    grid-gap: 10px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.social-icon-footer {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 75px;
}

.as-seen-image {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.as-seen-caption {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18pt;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* ========================================================================== */

/* Countdown Timer */

/* ========================================================================== */

.countdown__container {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.countdown__flex .timer__container  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.timer__number {
    padding-left: 50px;
    padding-right: 50px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 6vw;
    font-weight: 600;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.timer__type-of-time {
    color: rgba(0, 0, 0, 0.6);
    font-size: 2vw;
    font-weight: 600;
    width: 100%;
}

/* ========================================================================== */

/* Media Queries */

/* ========================================================================== */

@media (max-width: 1050px) {
    .as-seen-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .as-seen-image {
        padding-top: 40px;
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 500;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        align-self: center;
        justify-self: center;
        grid-gap: 50px;
        height: 100%;
    }
    .blog-column__two-thirds {
        width: 100%;
    }
    .blog-column__one-thirds {
        width: 100%;
    }
    .blog-header-container {
        display: flex;
        flex-direction: column;
    }
    .blog-detail-container {
        padding-top: 10px;
        margin: 10px;
    }
    .image-blog-container {
        padding-top: 10px;
        margin: 10px;
    }
    .flex-team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    .video-container {
        margin-top: 50px;
    }
    .as-seen-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .as-seen-image {
        /* padding-top: 50px; */
    }
    .background-mobile {
        display: block;
        opacity: 1;
    }
    .content__quote {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .logo-footer-container {
        display: none;
    }
}

@media (max-width: 805px) {
    .padding-header-section {
        padding-bottom: 10px;
    }
    .news-header {
        width: 100%;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
        padding-top: 30px;
        padding-bottom: 15px;
        color: #00a8e1;
        border-bottom: 1px solid rgb(215, 215, 215);
    }
    .podcast-header {
        width: 100%;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
        padding-top: 30px;
        padding-bottom: 15px;
        color: #00a8e1;
        border-bottom: 1px solid rgb(215, 215, 215);
    }
    .modal-style {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        max-width: 400px;
        max-height: 500px;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        left: 50%;
        height: 600px;
        margin-top: -245px;
        /* Half the height */
        margin-left: -200px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.072);
        -webkit-animation-name: subtleFade;
        -webkit-animation-duration: 0.55s;
        animation-name: none;
        animation-duration: 0.55s;
        overflow-y: scroll;
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 10px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .flex-columns {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .subscribe-button {
        width: 300px;
    }
    .subscribe-input {
        width: 300px;
    }
    .footer-background {
        max-height: 500;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .social-icons-container {
        display: none;
    }
    .team-box {
        background-color: #fff;
        height: 300px;
        width: 270px;
        border-radius: 5px;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.05);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .blog-secondary-grid-container {
        padding-top: 75px;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .title-blog {
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 28px;
    }
    .caption-blog {
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 14px;
        padding-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    .grid p {
        padding-top: 10px;
        padding-bottom: 20px;
        color: rgb(30, 30, 30);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 16pt;
    }
    .author-name {
        color: #00a8e1;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
    }
    .author-date-posted {
        color: rgba(0, 0, 0, 0.50);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
    }
    .learn-more-padding {
        padding-top: 20px;
    }
    .roadmap-img {
        padding-top: 10px;
    }
    .mobile-logo-container {
        display: block;
        opacity: 1;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mobile-logo {
        max-width: 220px;
        max-height: 40px;
        cursor: pointer;
    }
    .column__full {
        width: 50%;
    }
    .flex-team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    .logo {
        margin-top: 30px;
    }
    .navigation {
        display: none;
    }
    .padding-image {
        padding-top: 20px;
    }
    .menu-icon {
        z-index: 1;
        outline: none;
        opacity: 1;
        position: fixed;
        padding-top: 3px;
        top: 32px;
        left: 765px;
        width: 40px;
        height: 35px;
        padding-left: 5px;
        /* border: 2px solid rgb(255, 255, 255);
border-radius: 50%; */
        background: #0097cb;
        box-sizing: border-box;
        cursor: pointer;
        box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.264);
    }
    .menu-icon span {
        padding: 1px;
        outline: none;
        width: 82%;
        height: 3px;
        display: block;
        background: #fff;
        margin: 5px 0;
        transition: .5s;
        box-shadow: 2px 5px 18px rgba(0, 0, 0, 0.394);
    }
    .sidebar {
        z-index: 1;
        padding: 10px;
        display: block;
        opacity: 1;
        position: fixed;
        top: 0;
        left: -400px;
        width: 300px;
        height: 100vh;
        background: linear-gradient(to bottom right, #02c0ff, #0097cb, #009fd4);
        transition: .5s;
        padding: 20px;
        text-align: left;
        box-sizing: border-box;
        box-shadow: 2px 5px 24px rgba(0, 0, 0, 0.257);
    }
    .sidebar-active {
        z-index: 1;
        padding: 10px;
        display: block;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background: linear-gradient(to bottom right, #02c0ff, #0097cb, #009fd4);
        transition: .74s;
        padding: 20px;
        text-align: left;
        box-sizing: border-box;
        box-shadow: 5px 10px 24px rgba(0, 0, 0, 0.387);
    }
    .logo-sidemenu {
        max-width: 225px;
        max-height: 30px;
    }
    .menu {
        margin: 0;
        padding: 40px 0;
    }
    .menu li {
        list-style: none;
        font-family: sans-serif;
    }
    .menu li a {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        display: block;
        padding: 10px 0;
        /* text-transform: uppercase; */
        color: white;
        text-decoration: none;
    }
    .menu li a {
        border-bottom: 1.5px solid #ffffff;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .menu li a:hover {
        /* background: linear-gradient(#ebda6d, #e5ae65); */
        color: #fff;
        box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.075);
        transition: .5s;
    }
    .menu-icon.active span {
        position: absolute;
        width: calc(100% - 16px);
        top: calc(50% - 8px);
    }
    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg);
    }
    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .menu-icon.active span:nth-child(2) {
        display: none;
    }
    .social-icon {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 60px;
        left: 0;
        display: flex;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .social-icon li {
        width: 20%;
        text-align: center;
        list-style: none;
    }
    .social-icon li a {
        display: block;
        font-size: 14px;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        transition: .5s;
    }
    .social-icon li a:hover {
        background: #fc2827;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .flex-reverse {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 50%;
    }
    .column__two-thirds {
        width: 50%;
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 50%;
    }
    .column__two-thirds {
        width: 50%;
    }
}

@media (max-width: 750px) {
    .news-column {
        width: 100%;
    }
    .podcast-column {
        width: 100%;
    }
    .podcast-news-flex {
        display: flex;
        flex-direction: column;
    }
    .podcast-header {
        margin-left: 0px;
    }
    .podcast-container {
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .news-caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 400px;
    }
    .img-main-blog {
        width: 100%;
        height: 100%;
        padding-bottom: 25px;
    }
    .image-blog-container {
        margin: 5px;
    }
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 60%;
    }
    .column__two-thirds {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .video-container {
        margin-top: 25px;
    }
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 70%;
    }
    .column__two-thirds {
        width: 70%;
    }
}

@media (max-width: 650px) {

    .author-name-detail {
        color: #00a8e1;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px; 
    }
    
    .author-date-posted-detail {
        padding-top: 5px;
        color: rgba(0, 0, 0, 0.50);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 35px;
    }
    .footer-asset {
        display: none;
    }
    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .blog-secondary-grid-container {
        padding-top: 20px;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 80%;
    }
    .column__two-thirds {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .content__quote {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .news-caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 325px;
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 90%;
    }
    .column__two-thirds {
        width: 90%;
    }
}

@media (max-width: 550px) {
    .news-caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 300px;
        font-size: 14px;
    }
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 100%;
    }
    .column__two-thirds {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .git-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .fb-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .rdt-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .twi-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .lnk-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .you-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .telegram-logo-footer {
        width: 25px;
        height: 25px;
        margin-top: 3px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
    .news-caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 250px;
        font-size: 14px;
    }
    .news-title {
        font-size: 18px;
    }
    .news-img {
        width: 125px;
        height: 125px;
    }
    .news-container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(215, 215, 215);
    }
    .modal-style {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        max-width: 326px;
        max-height: 450px;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        left: 50%;
        height: 600px;
        margin-top: -205px;
        /* Half the height */
        margin-left: -165px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.072);
        -webkit-animation-name: subtleFade;
        -webkit-animation-duration: 0.55s;
        animation-name: none;
        animation-duration: 0.55s;
        overflow-y: scroll;
    }
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 90%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 100%;
    }
    .column__two-thirds {
        width: 100%;
    }
}

@media (max-width: 830px) {
    .menu-icon {
        left: 740px;
    }
}

@media (max-width: 805px) {
    .menu-icon {
        left: 715px;
    }
}

@media (max-width: 780px) {
    .menu-icon {
        left: 695px;
    }
}

@media (max-width: 770px) {
    .menu-icon {
        left: 685px;
    }
}

@media (max-width: 760px) {
    .menu-icon {
        left: 675px;
    }
}

@media (max-width: 750px) {
    .menu-icon {
        left: 665px;
    }
}

@media (max-width: 740px) {
    .menu-icon {
        left: 655px;
    }
}

@media (max-width: 730px) {
    .menu-icon {
        left: 645px;
    }
}

@media (max-width: 710px) {
    .menu-icon {
        left: 635px;
    }
}

@media (max-width: 690px) {
    .menu-icon {
        left: 600px;
    }
}

@media (max-width: 670px) {
    .menu-icon {
        left: 565px;
    }
}

@media (max-width: 650px) {
    .menu-icon {
        left: 550px;
    }
}

@media (max-width: 630px) {
    .menu-icon {
        left: 535px;
    }
}

@media (max-width: 610px) {
    .menu-icon {
        left: 520px;
    }
}

@media (max-width: 590px) {
    .menu-icon {
        left: 515px;
    }
}

@media (max-width: 570px) {
    .menu-icon {
        left: 495px;
    }
}

@media (max-width: 545px) {
    .menu-icon {
        left: 470px;
    }
}

@media (max-width: 520px) {
    .menu-icon {
        left: 445px;
    }
}

@media (max-width: 495px) {
    .menu-icon {
        left: 405px;
    }
}

@media (max-width: 470px) {
    .news-header {
        width: 100%;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
        padding-top: 15px;
        padding-bottom: 7.5px;
        color: #00a8e1;
        border-bottom: 1px solid rgb(215, 215, 215);
    }
    .menu-icon {
        left: 365px;
    }
    .news-caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
        font-size: 12px;
    }
    .news-title {
        font-size: 16px;
    }
    .news-img {
        width: 125px;
        height: 125px;
    }
    .news-learn-more {
        font-size: 12px;
    }
    .news-container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(215, 215, 215);
    }
}

@media (max-width: 445px) {
    .menu-icon {
        left: 365px;
    }
}

@media (max-width: 420px) {
    .menu-icon {
        left: 335px;
    }
}

@media (max-width: 395px) {
    .menu-icon {
        left: 320px;
    }
}

@media (max-width: 375px) {
    .menu-icon {
        left: 310px;
    }
    .git-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .fb-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .rdt-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .twi-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .lnk-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .you-footer {
        color: #fff;
        font-size: 25px;
        padding: 7.5px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .telegram-logo-footer {
        width: 25px;
        height: 25px;
        margin-top: 3px;
        margin-left: 5px;
        margin-right: 5px;
    }
}