body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
@font-face {
    font-family: myFirstFont;
    src: url(https://gist.github.com/orangtanah/495dfd86de9118c52007de078cf66249.js);
}
@-webkit-keyframes subtleFade {
    from {top:-200px;opacity: 0;}
    to {top:0px;opacity:1;}
}

@keyframes subtleFade {
    from {top:-200px;opacity: 0;}
    to {top:0px;opacity:1;}
}
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-animation-name: subtleFade; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.55s; /* Chrome, Safari, Opera */
    animation-name: subtleFade;
    animation-duration: 0.55s;
}

.main {
    width: 100%;
    height: 100%;
    /* background: #0097cb; */
    background: linear-gradient(to bottom right, #ffffff, #ffffff, #f2f2f2, #f4f4f4, #f2f2f2, #ffffff, #ffffff);
    padding: 85px 20px;
    padding-bottom: 200px;
}

.main-nav {
    width: 100%;
    height: 100%;
    /* background: #0097cb; */
    /* padding: 85px 20px;
padding-bottom: 200px; */
}

.main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* background: #0097cb; */
    padding: 85px 20px;
}

.menu-icon {
    opacity: 0;
}

.background-mobile {
    padding: 10px;
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.387);
    transition: .74s;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 5px 10px 24px rgba(0, 0, 0, 0.024);
}

.footer-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: flex-end;
}

.footer-background {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00a8e1;
    color: #ffffff;
    height: 400px;
}


/* .footer-container .squeeze {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

.flex-social {
    display: flex;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 18px;
}

.sidebar {
    opacity: 0;
    display: none;
}

.sidebar-active {
    opacity: 0;
    display: none;
}

.grain {
    /* content: "";
background: url('./images/background-grain.png') repeat;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: 2;
padding: 40px 20px; */
}

.squeeze {
    max-width: 1000px;
    margin: 0 auto;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(20, 20, 20);
}

.nav-menu__item {
    color: rgb(20, 20, 20);
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: .5s;
}

.nav-menu__item:hover {
    opacity: 0.4;
    transition: 0.3s;
}

.nav-menu__item a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.logo {
    max-width: 225px;
    max-height: 30px;
    cursor: pointer;
    transition: .5s;
}

.side-bar-image {
    max-width: 225px;
    max-height: 30px;
    cursor: pointer;
}

.side-bar-image.open {
    transform: translate( 30px, -30px);
}

.nav-menu__item-white {
    padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
transition: .5s;
}

.nav-menu__item-white div {
    margin-left: 7.5px;
    display: inline-block;
    height: 45px;
    width: 175px;
    background: linear-gradient(#ecdc70, #e4ac62);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.072);
    padding: 14px;
    padding-left: 47px;
}

/* .nav-menu__item-white div:hover {
    transition: all 0.3s ease 0s;
    background: radial-gradient(circle at center, #fff29d, #e4ac62);
} */

/* .nav-menu__button:hover {
    background: linear-gradient(#e8e8e8, #979797);
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: initial;
} */

.telegram-icon {
    display: inline-block;
    height: 100%;
    width: 30px;
    transform-origin: 50% 50%;
}

.content {
    width: 100%;
    padding-top: 35px;
}

.sidebar-image {
    width: 100%;
    padding-top: 30px;
}

.padding-image {
    margin-right: 50px;
}

.content__image-second {
    width: 75%;
}

.content__title {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    -webkit-animation-name: subtleFade; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.75s; /* Chrome, Safari, Opera */
    animation-name: subtleFade;
    animation-duration: 0.75s;
}

.sub-title {
    color: rgb(20, 20, 20);
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* .learn-more-padding {
    padding-top: 200px;
} */

.learn-more-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.content__paragraph {
    color: rgba(20, 20, 20, 0.709);
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    -webkit-animation-name: subtleFade; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.75s; /* Chrome, Safari, Opera */
    animation-name: subtleFade;
    animation-duration: 0.75s;
}

.learn-more-button {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    background: linear-gradient(#ecdc70, #e4ac62);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.072);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(30, 30, 30);
    font-size: 15px;
    cursor: pointer;
    -webkit-animation-name: subtleFade; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.75s; /* Chrome, Safari, Opera */
    animation-name: subtleFade;
    animation-duration: 0.75s;
    border-radius: 5px;
}

.learn-more-button:hover {
    transition: all 0.3s ease 0s;
    background: radial-gradient(circle at center, #fff29d, #e4ac62);
}

.learn-more a {
    color: black;
    text-decoration: none;
}
.learn-more:hover {
    opacity: 0.75;
}

.roadmap-button {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    background: linear-gradient(#e0e0e0, #bababa);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.072);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(30, 30, 30);
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-animation-name: subtleFade; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.75s; /* Chrome, Safari, Opera */
    animation-name: subtleFade;
    animation-duration: 0.75s;
}

.roadmap-button:hover {
    transition: all 0.3s ease 0s;
    background: radial-gradient(circle at center, #e0e0e0, #d2d2d2);
    cursor: pointer;
    transition: background .5s;
}

.road-map a {
    color: black;
    text-decoration: none;
}

.home-button-flex {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content__image {
    width: 100%;
    -webkit-animation-name: subtleFade; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.75s; /* Chrome, Safari, Opera */
    animation-name: subtleFade;
    animation-duration: 0.75s;
}

.flex {
    display: flex;
    margin: 0;
}

.flex-reverse {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.flex-team {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column__one-third {
    width: 33.33%;
}

.column__two-thirds {
    width: 66.66%;
}

.column__post {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column__full {
    width: 100%;
}

.column__title {
    width: 100%;
}

.column-half {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    width: 50%;
}

.column-second-half {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 50%;
}

.grid {
    display: flex;
    flex-direction: column;
    /* box-sizing: none; */
}

.grid p {
    padding-top: 150px;
    padding-bottom: 20px;
    color: rgb(30, 30, 30);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16pt;
}

.grid__item {
    /* width: calc(33.33% - 10px);
padding-top: calc((33.33% - 10px) / 2);
padding-bottom: calc((33.33% - 10px) / 2); */
    /* width: calc(100% - 10px);
height: calc(25% - 10px);
padding-top: calc((100% - 10px) / 2);
padding-bottom: calc((100% - 10px) / 2); */
    background-color: #00b3ea;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.075);
}

.video-neureal {
    width: 100%;
    height: 100%;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.182);
}

.video-container {
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.223);
}

.content-team {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 75px;
    width: 100%;
}

.team-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.team-title {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(20, 20, 20);
    font-size: 18pt;
    text-align: center;
    padding-bottom: 125px;
}

.team-background {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(#c5d6dd, #cfcfcf);
width: 100%;
box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.182); */
}

.mobile-logo-container {
    display: none;
    opacity: 0;
}

.roadmap-img {
    padding-top: 50px;
    width: 100%;
}

.details.active {
    transform: perspective(500px) scale(0);
}

.details h2 {
    margin: 0;
    padding: 0;
    color: rgb(20, 20, 20);
    font-size: 18px;
    text-transform: uppercase;
}

.details h2 span {
    font-size: 14px;
    color: #ccc;
}

.details p {
    margin: 0;
    padding: 10px 0 0;
    font-size: 14px;
    color: #aaa;
}

.details h3 {
    background: #00bcd4;
    color: #fff;
    padding: 8px 50px;
    border-radius: 25px;
    display: -webkit-inline-box;
    margin: 15px;
}

.details ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.details ul li {
    list-style: none;
    font-size: 20px;
    width: 13%;
}

.details ul li:nth-child(1) {
    color: #3b5998;
}

.details .team-social-icon {
    width: 100%;
}

.details span {
    font-weight: 400;
}

/* ========================================================================== */

/* Blog Section */

/* ========================================================================== */

.blog-column__two-thirds {
    width: 65%;
}

.blog-column__one-thirds {
    width: 35%;
}

.blog-header-container {
    display: flex;
}

.title-blog {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.caption-blog {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.creator-blog {
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

.image-blog-container {
    padding-top: 50px;
    /* margin: 20px; */
}

.img-main-blog {
    width: 100%;
    height: 100%;
}

.blog-detail-container {
    padding-top: 50px;
    margin-left: 20px;
}

.author-of-blog {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-name {
    color: #00a8e1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.author-date-posted {
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.flex-author {
    display: flex;
}

.flex-date {
    padding: 5px;
    padding-left: 7.5px;
    display: flex;
    flex-direction: column;
}

.blog-secondary-grid-container {
    padding-top: 75px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog-secondary-container {
    display: flex;
    flex-direction: column;
}

.img-secondary-blog {
    width: 100%;
    height: 100%;
}

.blog-column-secondary {
    width: 100%;
    margin-left: 10px;
}

.title-blog-secondary {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.blog-detail-container-secondary {
    /* padding-top: 10px;
    margin-top: 10px; */
}

.image-blog-container-secondary {
    padding-top: 10px;
    margin: 10px;
}

.blog-post-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.paragraph-title {
    color: rgba(0, 0, 0, 0.9);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

/* ========================================================================== */

/* Team */

/* ========================================================================== */

.team-box {
    position: relative;
    background-color: #fff;
    height: 350px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    /* cursor: pointer; */
}

.flex-team {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    align-self: center;
    justify-self: center;
    grid-gap: 50px;
}

.team-box-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.name-title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team-icon-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-right: 20px;
}

.team-role {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #00a8e1;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 12px;
}

.team-image {
    height: 85px;
    width: 85px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.team-name {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    padding-left: 10px;
    padding-top: 5px;
}

.biography {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    /* background: #00a8e1; */
    padding-top: 5px;
    text-align: center;
}

.team-icon-container a {
    padding: 10px;
    width: 20px;
    font-size: 30px;
    display: inline-block;
    margin: 0 8px;
    transition: 0.4s all;
    padding-left: 10px;
}

.lk {
    color: #00a8e1;
}

/* .lk:hover {
color: #fff;
background: #00a8e1;
border-radius: 50%;
padding-left: 10px;
} */

.tw {
    color: #4cd1ff;
}

/* .tw:hover {
color: #fff;
background: #00a8e1;
border-radius: 50%;
padding-left: 10px;
} */

/* ========================================================================== */

/* Social Icons Nav */

/* ========================================================================== */

.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.social-icons-container {
    z-index: 1;
    display: flex;
    flex-direction: row;
    text-align: right;
}

.social-icons-container p {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    padding-top: 12px;
    padding-right: 12.5px;
}

.social-background-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00a8e1;
}

.ion-email {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 5px;
}

.git-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.fb-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.rdt-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.twi-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.lnk-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.you-nav {
    color: #fff;
    font-size: 20px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.git-mob {
    color: #fff;
    font-size: 25px;
    padding: 7.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.fb-mob {
    color: #fff;
    font-size: 25px;
    padding: 7.5px;
    padding-left: 14px;
    padding-right: 14px;
}

.rdt-mob {
    color: #fff;
    font-size: 25px;
    padding: 7.5px;
    padding-left: 14px;
    padding-right: 14px;
}

.twi-mob {
    color: #fff;
    font-size: 25px;
    padding: 7.5px;
    padding-left: 14px;
    padding-right: 14px;
}

.lnk-mob {
    color: #fff;
    font-size: 25px;
    padding: 7.5px;
    padding-left: 14px;
    padding-right: 14px;
}

.you-mob {
    color: #fff;
    font-size: 25px;
    padding: 7.5px;
    padding-left: 14px;
    padding-right: 14px;
}

/* ========================================================================== */

/* Email Form*/

/* ========================================================================== */

.email-form-flex form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.subscribe-button {
    width: 400px;
    height: 50px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.7);
    background: linear-gradient(#ecdc70, #e4ac62);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.072);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: background .5s;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
}

.subscribe-text #mc-embedded-subscribe {
    color: #4cd1ff
}

.subscribe-input {
    width: 400px;
    height: 40px;
    margin: 10px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 5px;
}

#mc-embedded-subscribe {
    color: rgb(30, 30, 30);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background .5s;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
}

.join {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
}


.logo-footer {
    display: inline-block;
    max-width: 225px;
    max-height: 30px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 20px;
}

.logo-footer-container {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    padding-bottom: 105px;
    width: 50%;
}

.logo-footer-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}


/* ========================================================================== */

/* Team Modal */

/* ========================================================================== */

/* .modal-background {
    opacity: 0.5;
    z-index: 1;
    background-color: #aaa;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
}

.modal-img {
    opacity: 1;
}

.profile-background {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
    background: #fff;
} */


@media (max-width: 1000px) {
    .blog-column__two-thirds {
        width: 100%;
    }
    .blog-column__one-thirds {
        width: 100%;
    }
    .blog-header-container {
        display: flex;
        flex-direction: column;
    }
    .blog-detail-container {
        padding-top: 10px;
        margin: 10px;
    }
    .image-blog-container {
        padding-top: 10px;
        margin: 10px;
    }
    .flex-team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    .logo-footer-container {
        display: none;
    }
}

@media (max-width: 805px) {
    .subscribe-button {
        width: 300px;
    }
    .subscribe-input {
        width: 300px;
    }

    .footer-background {
        max-height: 500;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .social-icons-container {
        display: none;
    }
    .team-box {
        background-color: #fff;
        height: 300px;
        width: 270px;
        border-radius: 5px;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.05);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .blog-secondary-grid-container {
        padding-top: 75px;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .title-blog {
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 28px;
    }
    .caption-blog {
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 14px;
        padding-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    .grid p {
        padding-top: 10px;
        padding-bottom: 20px;
        color: rgb(30, 30, 30);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 16pt;
    }
    .author-name {
        color: #00a8e1;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
    }
    .author-date-posted {
        padding-top: 5px;
        color: rgba(0, 0, 0, 0.50);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
    }
    .learn-more-padding {
        padding-top: 20px;
    }
    .roadmap-img {
        padding-top: 10px;
    }
    .mobile-logo-container {
        display: block;
        opacity: 1;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mobile-logo {
        max-width: 175px;
        max-height: 25px;
        cursor: pointer;
    }
    .column__full {
        width: 50%;
    }
    .flex-team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    .logo {
        margin-top: 30px;
    }
    .navigation {
        display: none;
    }
    .padding-image {
        padding-top: 20px;
    }
    .menu-icon {
        z-index: 1;
        outline: none;
        opacity: 1;
        position: fixed;
        padding-top: 3px;
        top: 32px;
        left: 765px;
        width: 40px;
        height: 35px;
        padding-left: 5px;
        /* border: 2px solid rgb(255, 255, 255);
border-radius: 50%; */
        background: #0097cb;
        box-sizing: border-box;
        cursor: pointer;
        box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.264);
    }
    .menu-icon span {
        padding: 1px;
        outline: none;
        width: 82%;
        height: 3px;
        display: block;
        background: #fff;
        margin: 5px 0;
        transition: .5s;
        box-shadow: 2px 5px 18px rgba(0, 0, 0, 0.394);
    }
    .sidebar {
        z-index: 1;
        padding: 10px;
        display: block;
        opacity: 1;
        position: fixed;
        top: 0;
        left: -400px;
        width: 300px;
        height: 100vh;
        background: linear-gradient(to bottom right, #02c0ff, #0097cb, #009fd4);
        transition: .5s;
        padding: 20px;
        text-align: left;
        box-sizing: border-box;
        box-shadow: 2px 5px 24px rgba(0, 0, 0, 0.257);
    }
    .sidebar-active {
        z-index: 1;
        padding: 10px;
        display: block;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background: linear-gradient(to bottom right, #02c0ff, #0097cb, #009fd4);
        transition: .74s;
        padding: 20px;
        text-align: left;
        box-sizing: border-box;
        box-shadow: 5px 10px 24px rgba(0, 0, 0, 0.387);
    }
    .logo-sidemenu {
        max-width: 225px;
        max-height: 30px;
    }
    .menu {
        margin: 0;
        padding: 40px 0;
    }
    .menu li {
        list-style: none;
        font-family: sans-serif;
    }
    .menu li a {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        display: block;
        padding: 10px 0;
        /* text-transform: uppercase; */
        color: white;
        text-decoration: none;
    }
    .menu li a {
        border-bottom: 1px solid #ffffff;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .menu li a:hover {
        /* background: linear-gradient(#ebda6d, #e5ae65); */
        color: #fff;
        box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.075);
        transition: .5s;
    }
    .menu-icon.active span {
        position: absolute;
        width: calc(100% - 16px);
        top: calc(50% - 8px);
    }
    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg);
    }
    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .menu-icon.active span:nth-child(2) {
        display: none;
    }
    .social-icon {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 40px;
        left: 0;
        display: flex;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .social-icon li {
        width: 20%;
        text-align: center;
        list-style: none;
    }
    .social-icon li a {
        display: block;
        font-size: 14px;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        transition: .5s;
    }
    .social-icon li a:hover {
        background: #fc2827;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .flex-reverse {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        width: 500px;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        
        width: 360px;
        text-align: left;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 50%;
    }
    .column__two-thirds {
        width: 50%;
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        width: 360px;
        text-align: left;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 50%;
    }
    .column__two-thirds {
        width: 50%;
    }
}

@media (max-width: 750px) {
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        width: 500px;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        width: 360px;
        text-align: left;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 60%;
    }
    .column__two-thirds {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        width: 500px;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        width: 360px;
        text-align: left;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 70%;
    }
    .column__two-thirds {
        width: 70%;
    }
}

@media (max-width: 650px) {
    .blog-secondary-grid-container {
        padding-top: 20px;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        width: 500px;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        width: 360px;
        text-align: left;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 80%;
    }
    .column__two-thirds {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 90%;
    }
    .column__two-thirds {
        width: 90%;
    }
}

@media (max-width: 550px) {
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 100%;
    }
    .column__two-thirds {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .flex {
        /* width: 375px; */
    }
    .content__paragraph {
        text-align: left;
        /* font-size: 8pt; */
        width: 90%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__title {
        font-size: 20pt;
        width: 100%;
        text-align: left;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* width: 100%; */
    }
    .content__paragraph {
        text-align: left;
        width: 100%;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .content__image {
        width: 100%;
    }
    .column__one-third {
        width: 100%;
    }
    .column__two-thirds {
        width: 100%;
    }
}

@media (max-width: 830px) {
    .menu-icon {
        left: 740px;
    }
}

@media (max-width: 805px) {
    .menu-icon {
        left: 715px;
    }
}

@media (max-width: 780px) {
    .menu-icon {
        left: 695px;
    }
}

@media (max-width: 770px) {
    .menu-icon {
        left: 685px;
    }
}

@media (max-width: 760px) {
    .menu-icon {
        left: 675px;
    }
}

@media (max-width: 750px) {
    .menu-icon {
        left: 665px;
    }
}

@media (max-width: 740px) {
    .menu-icon {
        left: 655px;
    }
}

@media (max-width: 730px) {
    .menu-icon {
        left: 645px;
    }
}

@media (max-width: 710px) {
    .menu-icon {
        left: 635px;
    }
}

@media (max-width: 690px) {
    .menu-icon {
        left: 600px;
    }
}

@media (max-width: 670px) {
    .menu-icon {
        left: 565px;
    }
}

@media (max-width: 650px) {
    .menu-icon {
        left: 550px;
    }
}

@media (max-width: 630px) {
    .menu-icon {
        left: 535px;
    }
}

@media (max-width: 610px) {
    .menu-icon {
        left: 520px;
    }
}

@media (max-width: 590px) {
    .menu-icon {
        left: 515px;
    }
}

@media (max-width: 570px) {
    .menu-icon {
        left: 495px;
    }
}

@media (max-width: 545px) {
    .menu-icon {
        left: 470px;
    }
}

@media (max-width: 520px) {
    .menu-icon {
        left: 445px;
    }
}

@media (max-width: 495px) {
    .menu-icon {
        left: 405px;
    }
}

@media (max-width: 470px) {
    .menu-icon {
        left: 365px;
    }
}

@media (max-width: 445px) {
    .menu-icon {
        left: 365px;
    }
}

@media (max-width: 420px) {
    .menu-icon {
        left: 335px;
    }
}

@media (max-width: 395px) {
    .menu-icon {
        left: 320px;
    }
}

@media (max-width: 375px) {
    .menu-icon {
        left: 310px;
    }
}
